<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<!--    libs for stomp and sockjs-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--    end libs for stomp and sockjs-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet">

<style type="text/css">
.hide {
	display: none;
}
</style>
</head>
<body>
	<h2 th:text="${user.name}"></h2>
	<h2 th:text="${user.mobile}" id="mobilenum"></h2>
	<button onclick="addUser()" id="addButton">ADD Mobile</button>
	<button onclick="addGroup()" id="addButton">Join Group</button>
	<button onclick="createGroup()" id="addButton">Create Group</button>
	<button id="show_noti" onclick="showNoti()" >Show Notification</button><span id="new_notification" class="hide">*</span>
	<button id="addmem" onclick="addmemtogroups()">Add member to group</button>
	<button  id="removebtn" onclick="removeuser()">Remove</button>
	
	<br>
	<div id="adderform" class="hide">
		<form th:action="adduser" id="addForm">
			Add Mobile: <input type="text" id="mobile">
			<button type="submit">ADD</button>
		</form>
	</div>
	<div id="addergroup" class="hide">
		<form th:action="addgroup" id="addgroup">
			Join Group: <input type="text" id="group">
			<button type="submit">ADD</button>
		</form>
	</div>
	
	<div id="createGroup" class="hide">
		<form th:action="createGroup" id="createGroupForm">
			Name : <input type="text" id="ngroup"><br>
			Type : <input type="radio" class="gtype" value="public" name="gtype">Public
			       <input type="radio" class="gtype" value="private" name="gtype">Private	
			<br>
			Add Member: <br>
			<div id="groupmem" >
				
			</div>        
			<button type="submit">Create</button>
		</form>
	</div>
	<div>
	<ul id="noti_list" class="hide">
		
	</ul>
	</div>
	<div id="addmembers" class="hide">
		<form th:action="addmembers" id="addMemberForm">
			<div id="optional" >
			</div>
			<div id="addgroupmem" >
			</div>
			<button type="submit">ADD</button>
			
		</form>
		
	</div>
	<div>
		<ul id="removeuser" class="hide" >
		
		</ul>
		
	</div>
	<br>
	<div>
		<div class="container clearfix">
			<div class="people-list" id="people-list">
				<div class="search">
					<input id="userName" placeholder="search" type="text" />
				</div>
				<ul class="list" id="usersList">


				</ul>
			</div>
			<div class="chat">
				<div class="chat-header clearfix"> 
					<!-- <img alt="avatar" height="55px"
						src="https://rtfm.co.ua/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png"
						width="55px" /> -->

					<div class="chat-about">
						<div class="chat-with" id="selectedUserId"></div>
						<div class="chat-num-messages"></div>
					</div>
					<i class="fa fa-star"></i>
				</div>
				<!-- end chat-header -->
				<div>
					<ul id="grouplist" class="hide">
					
					</ul>
				</div>
				<div class="chat-history">
					<ul>

					</ul>

				</div>
				<!-- end chat-history -->

				<div class="chat-message clearfix">
					<textarea id="message-to-send" name="message-to-send"
						placeholder="Type your message" rows="3"></textarea>

					<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp; <i
						class="fa fa-file-image-o"></i>

					<button id="sendBtn">Send</button>

				</div>
				<!-- end chat-message -->

			</div>
			<!-- end chat -->

		</div>
		<!-- end container -->

	</div>

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix" id="messages_{{messageid}}">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
	<button onclick="deletemessage('{{messageid}}')" >delete</button>
        </div>
	<span id="read_{{messageid}}" >{{read}}</span>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li id="messages_{{messageid}}">
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span>
            <span class="message-data-time">{{time}}</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

<script src="custom.js"></script>

</body>

<script type="text/javascript">
const url = 'http://localhost:8080';
let stompClient;
let selectedUser;
let toMessage;
let newMessages = new Map();


function connectToChat(userName) {
    console.log("connecting to chat...")
    let socket = new SockJS(url + '/chat');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
    	console.log("connected to: " + frame);
        
    	stompClient.subscribe("/topic/messages/" + userName, function (response) {
        	let data = JSON.parse(response.body);
      	    if (selectedUser == data.fromLogin) {
      	    	render(data.message, data.fromLogin);
      	    	sendreadNotification(data.fromLogin,userName)
            }else {
                newMessages.set(data.fromLogin, data.message);
                $('newmessageNotify_'+data.fromLogin).hide()
             	$('#newmessage_'+data.fromLogin).append(`<span id=newmessageNotify_${data.fromLogin} style=color: red>+1</span>`);
            }
        });
        
        stompClient.subscribe("/topic/status/" + userName, function (response) {
          	let data = JSON.parse(response.body);
        	if(data.online=='online'){
        		document.getElementById('online_'+data.mobile).innerHTML='  online';
        		$('#online_'+data.mobile).show();		
        	}else if(data.online=='ofline'){
         	  $('#online_'+data.mobile).hide();	
        	}
          });
        
        stompClient.subscribe("/topic/offlineMessage/" + userName, function (response) {
        	let data = JSON.parse(response.body);
        	console.log(data)
        	for(var i = 0;i<data.length;i++){
        	   $('#oflineMessage_'+data[i]).innerHTML=''; 
        	   unSeenMessage=1;
        	   $('#newmessage_'+data[i]).append(`<span id=oflineMessage_${data[i]} style=color: red>+1</span>`);
        	   $('#oflineMessage_'+data[i-1]).hide();
        	}
        });
        stompClient.subscribe("/topic/groupMessage/" + userName, function (response) {
        	let data = JSON.parse(response.body);
        	 if (selectedUser == data.toGroup) {
                 render(data.message, data.fromLogin);
             	}else {
                 newMessages.set(data.toMobile, data.message);
              	$('#newmessage_'+data.toGroup).append(`<span id=newmessageNotify_${data.toGroup} style=color: red>+1</span>`);
             }
        });
        
        stompClient.subscribe("/topic/readMessages/" + userName, function (response) {
        	let data = JSON.parse(response.body);
        	for(var i = 0;i<data.length;i++){
        	    $('#read_'+data[i].id).html(data[i].seenOrNot)
        	}
        }); 
        
        stompClient.subscribe("/topic/sendDoneMessages/" + userName, function (response) {
        	let data = JSON.parse(response.body);
        	    console.log("#read_"+data.chatId)
        	    $('#read_'+data.chatId).html(data.seenOrNot)
        }); 
        
        stompClient.subscribe("/topic/deletemessage/" + userName, function (response) {
        	let data = JSON.parse(response.body);
        	$('#messages_'+data.chatId).hide();
        }); 
        
        stompClient.subscribe("/topic/notimessages/" + userName, function (response) {
        	document.getElementById('new_notification').classList.remove('hide');
        	console.log($('#new_notification').hasClass('hide'))
        }); 
        
        stompClient.subscribe("/topic/notimessage/" + userName, function (response) {
        	document.getElementById('new_notification').classList.remove('hide');
        	console.log($('#new_notification').hasClass('hide'))
        	getAllUserAddedByUser();
        	setTimeout(function(){
			getAllGroupAddedByUser();
		}, 500); 
        }); 
    });
}


var connectChannel = (function(){
	  let wasCalled = false;
	  return function(){
	    if(wasCalled){
	      return;
	    }
	    else {
	    	 connectToChat($('#mobilenum').text());
	      wasCalled = true;
	    }
	  };
})();

connectChannel();

setTimeout(function(){
	sendOnlineMessage();
 	}, 2000);

const fecthmessages = (userName) => {
	console.log("fetchmessages")
	$.ajax({
		type : "POST",
		contentType : "application/json",
		url :  "getUserChat",
		data : JSON.stringify(userName),
		dataType : 'json',
		success : function(data) {
			console.log(data)
			$chatHistoryList.html('')
			for(var i = 0;i<data.length;i++){
			if(data[i].toMobile==userName){
				var template = Handlebars.compile($("#message-template").html());
				var context = {
					    messageid:	data[i].id,
				            messageOutput: data[i].message,
				            time:data[i].date,
				            toUserName: data[i].toMobile,
				            fromUser:data[i].fromMobile,
				            read:data[i].seenOrNot
				        };
				$chatHistoryList.append(template(context));
			}else{
				var templateResponse = Handlebars.compile($("#message-response-template").html());
				var contextResponse = {
				    messageid:	data[i].id, 		
				    response: data[i].message,
			            time:data[i].date,
			            userName : data[i].fromMobile,
			        };
			          $chatHistoryList.append(templateResponse(contextResponse));
				}
			   
			} 
		} 
  	 });
}

const fetchGroupChat = (groupName) => {
	console.log(groupName)
	$.ajax({
		type : "POST",
		contentType : "application/json",
		url :  "getGroupChat",
		data : JSON.stringify(groupName),
		dataType : 'json',
		success : function(data) {
			console.log(data)
			$chatHistoryList.html('')
			for(var i = 0;i<data.length;i++){
			if(data[i].fromMobile==[[${user.mobile}]]){
				var template = Handlebars.compile($("#message-template").html());
				var context = {
					    messageid:	data[i].id,
				            messageOutput: data[i].message,
				            time:data[i].date,
				            toUserName: data[i].toMobile,
				            fromUser:data[i].fromMobile
				        };
				$chatHistoryList.append(template(context));
			}else{
				var templateResponse = Handlebars.compile($("#message-response-template").html());
				var contextResponse = {
				    messageid:	data[i].id, 		
				    response: data[i].message,
			            time:data[i].date,
			            userName : data[i].fromMobile
			        };
			        $chatHistoryList.append(templateResponse(contextResponse));
				}
			} 
		} 
  	 });
}

function sendMsg(from, text,chatId) {
	
   if(toMessage==0){
	   console.log(from)
	stompClient.send("/app/chat/" + selectedUser, {}, JSON.stringify({
       		 fromLogin: from,
      		 message: text,
       		 date:getCurrentTime(),
	         chatId:chatId,
	         seenOrNot:'send'
    }));
   }else{
	stompClient.send("/app/group/" + selectedUser, {}, JSON.stringify({
	       fromLogin: from,
	       message: text,
	       date:getCurrentTime(),
	       chatId:chatId,
	       seenOrNot:'send'
	    }));  
   }
}

function sendDeleteMsg(mid) {
    stompClient.send("/app/chat/delete/" + selectedUser, {}, JSON.stringify({
    	chatId:mid
    }));
}

function sendReadNotify() {
    stompClient.send("/app/chat/read/" + selectedUser, {}, JSON.stringify({
        message:'readsuccessfully',
    }));
}

function sendOnlineMessage(){
	stompClient.send("/app/chat/online", {}, JSON.stringify({
        mobile:[[${user.mobile}]],
    }));
}

function sendDeleteOfflineMessages(receiver,sender){
	stompClient.send("/app/chat/offlinemessage", {}, JSON.stringify({
	toMobile:receiver,
	fromMobile:sender
    }));
}

function sendDeleteOfflineGroupMessages(userName,groupName){
	stompClient.send("/app/chat/offlineGroupMessage", {}, JSON.stringify({
	toMobile:userName,
	fromMobile:groupName
    }));
}

function sendreadNotification(sender,receiver){
	stompClient.send("/app/chat/readMessage", {}, JSON.stringify({
		fromMobile:sender,
		toMobile:receiver
	    }));
}

function sendreadMessageNotification(sender){
	stompClient.send("/app/chat/readMessageNoti", {}, JSON.stringify({
		fromMobile:sender
	    }));
}

function selectUser(userName,name) {
    toMessage=0;	
    console.log("selecting users: " + userName);
    selectedUser = userName;
    /* let isNew = document.getElementById("newMessage_" + userName) !== null;
    if (isNew) {
        let element = document.getElementById("newMessage_" + userName);
        element.parentNode.removeChild(element);
        render(newMessages.get(userName), userName);
    } */
    $('#selectedUserId').html('');
    $('#selectedUserId').append('Chat with ' + name);
    console.log('#newmessageNotify_'+selectedUser)
    $('#oflineMessage_'+selectedUser).hide();
   /*  sendDeleteOfflineMessages([[${user.mobile}]],userName); */
    console.log($('#newmessageNotify_'+selectedUser).text())
    if($('#newmessageNotify_'+selectedUser).text().includes('+1')){
        $('#newmessageNotify_'+selectedUser).html('');
   	 sendreadNotification(selectedUser,[[${user.mobile}]]);
    }
    scrollToBottom();
    fecthmessages(userName);
}
function selectGroup(groupName,gid,admin) {
    toMessage=1;	
    console.log("selecting users: " + groupName);
    console.log('dsaddsa');
    selectedUser = groupName;
    $('#selectedUserId').html('');
    $('#selectedUserId').append(`${groupName} <button id=userlistbut onclick=showgrouplist(${gid})>Show Members</button>  <button id=groupleft onclick=groupleft(${gid})>Exit group</button>`);
    $('#newmessageNotify_'+selectedUser).hide();
    $('#oflineMessage_'+selectedUser).hide();
   /*  sendDeleteOfflineGroupMessages([[${user.mobile}]],groupName); */
    fetchGroupChat(groupName)
      n=0;
	document.getElementById('userlistbut').innerHTML = 'Show Members';
	document.getElementById('grouplist').classList.add('hide')
}

var listOfUser=[];
var listOfGroup=[];

const getAllGroupAddedByUser = () => {
	$.ajax({
		type : "POST",
		contentType : "application/json",
		url :  "getAllGroupAddedByUser",
		data : JSON.stringify([[${user.mobile}]]),
		dataType : 'json',
		success : function(data) {
			listOfGroup=[]
			for(var i = 0;i<data.length;i++){
				listOfGroup.push(data[i]) 
			}
				 dislpayGroupList()
		}
	   });
}

const getAllUserAddedByUser = () => {
	$.ajax({
			type : "POST",
			contentType : "application/json",
			url :  "getAllUserAddedByUser",
			data : JSON.stringify([[${user.mobile}]]),
			dataType : 'json',
			success : function(data) {
				$('#usersList').html('');
				listOfUser=[]
				console.log(listOfUser+"fsfsdffsfds")
				for(var i = 0;i<data.length;i++){
					listOfUser.push(data[i])
 				}
 			           dislpayUserList()
			}
		   });
	    }

function dislpayUserList(){
	 for(var i=0;i<listOfUser.length;i++){
		 $('#usersList').append(`<a href=# onclick=selectUser('${listOfUser[i].mobile}','${listOfUser[i].name}') ><li id=newmessage_${listOfUser[i].mobile} >${listOfUser[i].name}<span  id=online_${listOfUser[i].mobile}>${listOfUser[i].status}</span></li></a>`)
	 }
 }

function dislpayGroupList(){
	 for(var i=0;i<listOfGroup.length;i++){
		 $('#usersList').append(`<a href=# onclick=selectGroup('${listOfGroup[i].groupName}','${listOfGroup[i].gid}','${listOfGroup[i].admin.mobile}')><li id=newmessage_${listOfGroup[i].groupName}>${listOfGroup[i].groupName}(Group)</li></a>`) 
	 }
 }

getAllUserAddedByUser();
setTimeout(function(){
	getAllGroupAddedByUser();
}, 500); 

	var i =0;
	const addUser = () => {
		if(i==0){
			document.getElementById('adderform').classList.remove('hide');
			document.getElementById('addergroup').classList.add('hide');
			document.getElementById('createGroup').classList.add('hide');
			document.getElementById('addmembers').classList.add('hide');
			document.getElementById('removeuser').classList.add('hide');
			document.getElementById('removebtn').innerHTML='Remove';
			i=1;
			l=0;
			k=0;
			j=0;
			m=0;
			o=0;
		}else{
			document.getElementById('adderform').classList.add('hide');
			i=0;
		    }
		}
	var j =0;
	const addGroup = () => {
		if(j==0){
			document.getElementById('addergroup').classList.remove('hide');
			document.getElementById('adderform').classList.add('hide');
			document.getElementById('createGroup').classList.add('hide');
			document.getElementById('addmembers').classList.add('hide');
			document.getElementById('removeuser').classList.add('hide');
			document.getElementById('removebtn').innerHTML='Remove';
			i=0;
			l=0;
			k=0;
			j=1;
			m=0;
			o=0;
		}else{
			document.getElementById('addergroup').classList.add('hide');
			j=0;
		    }
		}
	var k =0;
	const showNoti = () => {
		if(k==0){
			document.getElementById('noti_list').classList.remove('hide');
			document.getElementById('createGroup').classList.add('hide');
			document.getElementById('addmembers').classList.add('hide');
			document.getElementById('show_noti').innerHTML='Hide Notification';
			document.getElementById('removeuser').classList.add('hide');
			document.getElementById('removebtn').innerHTML='Remove';
			document.getElementById('adderform').classList.add('hide');
			i=0;
			l=0;
			k=1;
			j=0;
			m=0;
			o=0;
			getNotification();
			if(!$('#new_notification').hasClass('hide')){
				sendreadMessageNotification([[${user.mobile}]])
			}
			document.getElementById('new_notification').classList.add('hide');
				
		}else{
			document.getElementById('noti_list').classList.add('hide');
			document.getElementById('show_noti').innerHTML='Show Notification';
			k=0;
		    }
		}
	var l =0;
	const createGroup = () => {
		if(l==0){
			document.getElementById('createGroup').classList.remove('hide');
			document.getElementById('adderform').classList.add('hide');
			document.getElementById('addergroup').classList.add('hide');
			document.getElementById('noti_list').classList.add('hide');
			document.getElementById('addmembers').classList.add('hide');
			document.getElementById('show_noti').innerHTML='Show Notification';
			document.getElementById('removeuser').classList.add('hide');
			document.getElementById('removebtn').innerHTML='Remove';
			i=0;
			k=0;
			j=0;
			m=0;
			o=0;
			let userChecklist = document.getElementById('groupmem');
			console.log(listOfUser)
			$('#groupmem').html('')
			for(var i=0;i<listOfUser.length;i++){
				$('#groupmem').append(`<input type=checkbox  id=${listOfUser[i].id}  class=userlist  name=selector[]  value=${listOfUser[i].id}/> <label for=m1>${listOfUser[i].name}</label><br>`)			
			}
			l=1;
		}else{
			document.getElementById('createGroup').classList.add('hide');
			l=0;
		    }
		}
	var m =0;
	const addmemtogroups = () => {
		if(m==0){
			document.getElementById('addmembers').classList.remove('hide');
			document.getElementById('adderform').classList.add('hide');
			document.getElementById('addergroup').classList.add('hide');
			document.getElementById('noti_list').classList.add('hide');
			document.getElementById('show_noti').innerHTML='Show Notification';
			document.getElementById('removeuser').classList.add('hide');
			document.getElementById('removebtn').innerHTML='Remove';
			i=0;
			l=0;
			k=0;
			j=0;
			o=0;
			let userChecklist = document.getElementById('groupmem');
			getGroupsOfUserAdminAndPublic()
			}else{
				document.getElementById('addmembers').classList.add('hide');
				m=0;
		   	 }
			}
	var o = 0;
	const removeuser = () => {
		if(o==0){
			document.getElementById('addmembers').classList.add('hide');
			document.getElementById('adderform').classList.add('hide');
			document.getElementById('addergroup').classList.add('hide');
			document.getElementById('noti_list').classList.add('hide');
			document.getElementById('show_noti').innerHTML='Show Notification';
			document.getElementById('removeuser').classList.remove('hide');
			document.getElementById('removebtn').innerHTML='close';
			i=0;
			l=0;
			k=0;
			j=0;
			o=1;
			showuserremovelist()
			
		}else{
				document.getElementById('removeuser').classList.add('hide');
				document.getElementById('removebtn').innerHTML='Remove';
				o=0;
		   	 }
		}
	const showuserremovelist = () => {
		$('#removeuser').html('')
		 for(var i=0;i<listOfUser.length;i++){
			 $('#removeuser').append(`<li>${listOfUser[i].name}  <button onclick=removeusers('${listOfUser[i].id}',listOfUser[i]) >remove</button><br> </li>`)
		 }
	} 
	
	const getGroupsOfUserAdminAndPublic = () => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "getGroupsOfUserAdminAndPublic",
  			data : JSON.stringify([[${user.mobile}]]),
  			dataType : 'json',
  			success : function(response) {
  				$('#optional').html('')
  				console.log(response)
  				let html='';
  					response.data.forEach((groupName) => {
  			 		       html += `<option value=${groupName.groupName} >${groupName.groupName}</option>`;
  					 })
  			 			$('#optional').html(`Select Group:<select id=userGroups onchange=getUserListNotMember()>
  			 				<option disabled=disabled id=optional selected=selected>--select--</option> ${html}
  			 					</select>` )
  						m=1;
  				 }
  		   });
	}
	
	const getNotification = () => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "getNotification",
  			data : JSON.stringify([[${user.mobile}]]),
  			dataType : 'json',
  			success : function(response) {
  				$('#noti_list').html('')
  			 	for(var i=0;i<response.data.length;i++){
  			 		console.log(response.data)
  			 		if(response.data[i].type=='req'){
  						$('#noti_list').append(`<li> <h4>${response.data[i].message}</h4><button onclick=confirmreq(${response.data[i].fromMobile})>Confirm</button><button onclick=deniedreq(${response.data[i].fromMobile})>Denied</button></li>`)
  			 		}else if(response.data[i].type=='acce'){
  			 			$('#noti_list').append(`<li> <h4>${response.data[i].message}</h4><button onclick=deletenotification(${response.data[i].nid})>cancel</button></li>`)
  			 		}else{
  			 			$('#noti_list').append(`<li> <h4>${response.data[i].message}</h4><button onclick=deletenotification(${response.data[i].nid})>cancel</button></li>`)
  			 		}  				 
  			 	}
  				
  			}
  		   });
	}
	
	const getUserListNotMember = () => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "getUserListNotMember",
  			data : JSON.stringify($('#userGroups').val()),
  			dataType : 'json',
  			success : function(response) {
				  if(response.status=='done'){
					  console.log(response.data)						  
					  $('#addgroupmem').html('Add:<br>')
						for(var i=0;i<response.data.length;i++){
						  $('#addgroupmem').append(`<input type=checkbox  id=${response.data[i].id}  class=useraddlist  name=selector[]  value=${response.data[i].id}/> <label for=${response.data[i].id}>${response.data[i].name}</label><br>`)			
						}  
				  }			 	
  			 }
  		   });
	}
	
	$('#addForm').submit(function(event){
		event.preventDefault();
		 $.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "adduser",
  			data : JSON.stringify($('#mobile').val()),
  			dataType : 'json',
  			success : function(data) {
  				$('#mobile').val('')
  				if(data.status=="done"){
  					alert('request has been send')
  				}else if(data.status=="not exists"){
  					alert("not exists")
  				}else if(data.status=="alreadyAdded"){
  					alert("Already added")
  				}else{
  					alert("try again")
  				}
  				$('#addForm').trigger("reset");  
  			}
  		   });
		})
		
	$('#addgroup').submit(function(event){
		event.preventDefault();
		 $.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "addgroup",
  			data : JSON.stringify($('#group').val()),
  			dataType : 'json',
  			success : function(data) {
  				$('#group').val('');
  				setTimeout(function(){
  					 getAllGroupAddedByUser();
  				 },500);
  				 getAllUserAddedByUser();
  				$('#addgroup').trigger("reset");  
  				 alert(data.status)
  			}
  		   });
		})
		
	$('#addMemberForm').submit(function(event){
		event.preventDefault();
		var checkboxValues = [];
		$('input.useraddlist:checked').map(function() {
		            checkboxValues.push($(this).val());
		});
		const formdata = {
			entities:checkboxValues,
			groupName:$('#userGroups').val(),
		} 
		console.log(formdata)
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "addmemgroup",
  			data : JSON.stringify(formdata),
  			dataType : 'json',
  			success : function(data) {
  				$('#group').val('');
  				setTimeout(function(){
  					 getAllGroupAddedByUser();
  				 },500);
  				 getAllUserAddedByUser();
  				 $('#addMemberForm').trigger("reset");  
  				document.getElementById('addmembers').classList.add('hide');
  				 n=0;
				   document.getElementById('userlistbut').innerHTML = 'Show Members';
				   document.getElementById('grouplist').classList.add('hide')
				m=0;
  			}
  		   });
		})
			
	$('#createGroupForm').submit(function(event){
		event.preventDefault();
		var checkboxValues = [];
		$('input.userlist:checked').map(function() {
		            checkboxValues.push($(this).val());
		});
		console.log(checkboxValues);
		const formdata = {
			entities:checkboxValues,
			groupName:$('#ngroup').val(),
			typeOfGroup:$('.gtype:checked').val()
		} 
		console.log(formdata)
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "createGroupForm",
  			data : JSON.stringify(formdata),
  			dataType : 'json',
  			success : function(data) {
			   if(data.status=='done'){
				   getAllUserAddedByUser();
		        	   setTimeout(function(){
					getAllGroupAddedByUser();
				   }, 500);
		        	   $('#createGroupForm').trigger("reset");  
		        	   
			   }else{
				   alert(data.status)
			   }
  			}
  		   });
		})	
	
	const  deletemessage = (messageid) => {
		if (confirm("Are you sure?")) {
			$.ajax({
	  			type : "POST",
	  			contentType : "application/json",
	  			url :  "deleteuser",
	  			data : JSON.stringify(messageid),
	  			dataType : 'json',
	  			success : function(data) {
	  				if(data.status=="done"){
	  					sendDeleteMsg(messageid);
	  					$('#messages_'+messageid).hide();
	  				}else{
	  					alert("try again")
	  				}
	  			}
	  		   })	
			} 
		}
	
	const confirmreq = (toMobile) => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "addUseToContact",
  			data : JSON.stringify(toMobile),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=="added"){
  					getAllUserAddedByUser();
  					setTimeout(function(){
  						getAllGroupAddedByUser();
  					}, 500); 
  					getNotification()
  					console.log('done');
  				}else{
  					alert("try again")
  				}
  			}
  		   })	
	}
	
	const deniedreq = (toMobile) => {
		console.log(toMobile)
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "deniedrequest",
  			data : JSON.stringify(toMobile),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=="done"){
  					getNotification()
  				}else{
  					alert("try again")
  				}
  			}
  		   })	
	}
	
	const deletenotification = (nid) => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "deleteNotification",
  			data : JSON.stringify(nid),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=="done"){
  					getNotification()
  				}else{
  					alert("try again")
  				}
  			}
  		   })	
	}
	
	/* 
	const ajaxcall = () => {
		nid = { shId:"1ssss0",
			stackholderName:"ksssajal",
			 noShare:555}
		
		fomdata = {
			username : "jainneel9933@gmail.com",
			password:"111"
		}
		$.ajax({
  			type : "GET",
  			contentType : "application/json",
  			url :  "http://192.168.0.109:8081/login",headers: {
  		        "Access-Control-Allow-Origin":"*",
 		         'crossorigin':true
 		   	 },
  			dataType : 'json',
  			success : function(data) {
  				console.log(data)
  			}
  		   })	
	}
	ajaxcall(); */
	 
	 const showgroupmembers = (data,gid) => {
		 $('#grouplist').html('')
		 for(var i=0;i<data.length;i++){
			 if(data[i].mobile!=[[${user.mobile}]]){
			   $('#grouplist').append(`<li>Name: ${data[i].name}     Mobile:${data[i].mobile}<br><br></li>  <button id=userlistbut onclick=removeuserfromgroup(${gid},${data[i].id})>Remove</button>`)			
			 }
		}
	}
	 
	 
	let n = 0;
	const showgrouplist = (gid) => {
		if(n==0){
			$.ajax({
	  			type : "POST",
	  			contentType : "application/json",
	  			url :  "showgrouplist",
	  			data : JSON.stringify(gid),
	  			dataType : 'json',
	  			success : function(data) {
	  				if(data.status=='done'){
	  					console.log(data)
	  					 $('#grouplist').html('')
	  				   if(data.entity==[[${user.mobile}]]){
	  					showgroupmembers(data.data,gid);		   
	  				   }else{
	  					for(var i=0;i<data.data.length;i++){
						   $('#grouplist').append(`<li>Name: ${data.data[i].name}     Mobile:${data.data[i].mobile}<br><br></li>`)			
						}		   
	  				    }
	  				  
		  			}
		  		    }
		  		   })				
				   document.getElementById('grouplist').classList.remove('hide')
				   document.getElementById('userlistbut').innerHTML = 'close';
				   n=1;
			}else{
	  		   n=0;
			   document.getElementById('userlistbut').innerHTML = 'Show Members';
			   document.getElementById('grouplist').classList.add('hide')
	         	}
		}
	const removeusers = (id,value) => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "removeuser",
  			data : JSON.stringify(id),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=='done'){
  				   getAllUserAddedByUser();
		        	   setTimeout(function(){
					getAllGroupAddedByUser();
				    }, 500);
	  			}
  				var index = listOfUser.indexOf(value);
  				listOfUser.splice(index, 1);
  				showuserremovelist()
	  		}
	  	})	
	} 
	
	const groupleft = (id) => {
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "groupleft",
  			data : JSON.stringify(id),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=='done'){
  				   getAllUserAddedByUser();
		        	   setTimeout(function(){
					getAllGroupAddedByUser();
				    }, 500);
	  			}
  				
	  		}
	  	})
	}
	
	const removeuserfromgroup = (gid,uid) => {
		let formdata = {
		     gid:gid,
		     uid:uid,
		}
		console.log(formdata)
		$.ajax({
  			type : "POST",
  			contentType : "application/json",
  			url :  "removeuserfromgroup",
  			data : JSON.stringify(formdata),
  			dataType : 'json',
  			success : function(data) {
  				if(data.status=='done'){
  					showgroupmembers(data.data,gid);	
  				}else{
  					alert(data.status)
  				}
  						
		      }
	  	})
	}
</script>

</html>